{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="bg-rose-50	 min-h-screen h-[500vh]  sm:h-[200vh] md:h-[450vh]">
  
  <div class="grid grid-rows-4 h-full">
  
    <div class="h-full bg-rose-50 flex flex-col justify-center items-center text-center">
      <header class="flex max-w-[496px] flex-col items-stretch px-5 py-1">
        <h1 class="text-yellow-200 text-center text-5xl font-bold leading-[56px]  w-full mt-2.5 max-md:max-w-full max-md:text-4xl max-md:leading-10">Unleash Your  <br /><span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block p-2">
          <span class="relative text-white">Imagination</span> </h1>
        <p class="text-black text-center text-2xl leading-7 max-w-[363px] self-center mt-8"> 
          Master Your Story: Welcome to Storynator!
        </p>
        <button class="text-white text-center text-base font-bold leading-5 whitespace-nowrap justify-center items-stretch border-[color:var(--Black,#000)] shadow-sm bg-purple-500 self-center mt-14 p-2.5 border-2 border-solid max-md:mt-10">
           Get started 
        </button>
      </header>
    </div>
    
    <div class="h-full bg-rose-50 flex flex-col sm:flex-col md:flex-row justify-center items-center text-center">
      <div class="flex-1">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5e42edaf9dc8e7d0c0df08d9adf627cc6233d9b311763d32ff47b5afb2d4cdd9?apiKey=26375cc6e2cd49d5bb8228a22892d56e&" 
        alt="Your Image Description" class="w-full h-auto object-contain">
      </div>
      <div class="flex-1">
          <h1 class="text-black text-center text-5xl font-bold leading-[56px] w-full h-auto mt-1.5 max-md:max-w-full max-md:text-4xl max-md:leading-10 overflow-y-scroll  ">
              AI Generated Stories
          </h1>
          <p>
              Users input specific tags that pique their interest, ranging from dragons and space adventures to talking animals. Our sophisticated AI then seamlessly weaves these tags into a unique and captivating story tailored for each user.
          </p>
      </div>
    </div>
    <div class="h-full bg-rose-50 flex flex-col-reverse sm:flex-col md:flex-row justify-center items-center text-center sm:mt-12">
      <div class="flex-1">
        <h1 class="text-black text-center text-5xl font-bold leading-[56px] w-full h-auto mt-1.5 max-md:max-w-full max-md:text-4xl max-md:leading-10">
          Voice Cloning
        </h1>
        <p>
          Voice Cloning AI. Once a story is generated, users have the option to experience it narrated in their own voice. This feature adds a personal touch, enhancing the immersive nature of the storytelling experience.
        </p>
      </div>
      <div class="flex-1">
        <img src="{% static 'yellowcash.png' %}" 
        alt="Your Image Description" class="w-full h-full object-contain">
      </div>
    </div>

    <!-- Add more child div elements as needed -->
  </div>
</div>

{% endblock %}
